{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Document index{% endblock %}

{% block main %}
<div class="container-fluid offset-1 col-10">

    <h1 class="mb-3">Document index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Cote</th>
                <th>Format</th>
                <th>CodeOeuvre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.title }}</td>
                <td>{{ document.cote }}</td>
                <td>{{ document.format }}</td>
                <td>{{ document.codeOeuvre }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(documents) }}
    <a href="{{ path('admin_index') }}">back to admin panel </a>
{% endblock %}
