{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Ressources index{% endblock %}

{% block main %}
<div class="container-fluid offset-1 col-10">
    <h1 class="mb-3">Ressources repertory</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Type</th>
                <th>Doc_Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ressource in ressources %}
            <tr>
                <td>{{ ressource.id }}</td>
                <td>{{ ressource.url }}</td>
                <td>{{ ressource.type }}</td>
                <td>{{ ressource.document }}</td>
                <td>
                    <a href="{{ path('ressources_show', {'id': ressource.id}) }}">show</a>
                    <a href="{{ path('ressources_edit', {'id': ressource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(ressources) }}
    <a href="{{ path('ressources_new') }}">Create new</a><br>

    <a href="{{ path('admin_index') }}">back to admin panel </a>
</div>
{% endblock %}
